<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <risecommerce_ajax_layered_navigation>
            <ajax_layered_navigation>
                <enabled>1</enabled>  
            </ajax_layered_navigation>
        </risecommerce_ajax_layered_navigation>
    </default>
</config>