<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="risecommerce" translate="label" sortOrder="500">
            <label>Risecommerce Extensions</label>
        </tab>
        <section id="risecommerce_ajax_layered_navigation" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ajax Layered Navigation</label>
            <tab>risecommerce</tab>
            <resource>Risecommerce_AjaxLayeredNavigation::risecommerce_ajax_layered_navigation</resource>
            <group id="ajax_layered_navigation" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configurations</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
